[build]
  command = "npm run build"
  publish = "apps/web/public"  

[dev]
  command = "cd apps/web/yarn develop"

[template.environment]
  NEO4J_URI = "Neo4j URI (ex: bolt://localhost:7687)"
  NEO4J_USER = "Neo4j User"
  NEO4J_PASSWORD = "Neo4j Password"
  
[[redirects]]
  from = "/graphql"
  to = "/.netlify/functions/graphql"
  status = 200